
.blogs-control-container
{
    
}

.form-label
{
    color: white;
}

.form-select
{
    width: 30%;
}

.form-control
{
    width: 90%;
}
.mb-3
{
    height: 300px;
}
#FormControlText
{
    margin-top: 20px;
    width: 66%;
    height: 100%;
}